@model IEnumerable<Start.Models.Program>

@{
    ViewBag.Title = "Start Menu";
}

<div class="jumbotron" style="background-color:#02a8f2; color:#ffffff; text-align:center">
    <h1>Start Menu</h1>
    <p>Launch your Start Menu programs from the Web!</p>

</div>

<div class="row">
    <div class="col-md-12">
        <form method="post" >
            <div class="row">
            @Html.AntiForgeryToken()
            @{
                foreach (var item in Model)
                {
                    String name = item.Title;

                    <div class="form-group col-md-2" style="height: 185px" >
                        <input type="image" src="/Images/noun_Lnk_903502_000000.png" alt="Submit" class="form-control" id="Link" name="execute" value="@name" style="color: black; height: 70px; width: 70px; border: none" />
                        <label for="Link">@name</label>
                        <label for="Link" style="display: block; background-color: lightgray; width: 70%">Run Count: @item.Count</label>
                    </div>
                }
            }
            </div>
        </form>
    </div>
</div>